<div class="answer-container">

    <div class="answer" tabindex="0" *ngFor=" let answer of answers;let $index = index" [ngClass]="(tryCount === 2 && !answer.isSelected && answer.isCorrect) ? 'correct': ''" (click)="OnAnswerSelected($event, $index)"  (keydown)="onKeyDown($event,$index)">
            <!-- [ngClass]="(tryCount === 2 && !answer.isSelected && answer.isCorrect) ? 'correct': ((tryCount === 2 && answer.isSelected) ? 'wrong': '')" -->
        <div class="indicator"> <img class="indicator-img deselected" src="assets/images/md_5aaeb1de75bea.png" alt="" /></div>
        {{answer.ansText}}
        <!-- {{(correctOption)}}  -->
    </div>

</div>