<div class="answer-container">

    <div class="answer" *ngFor=" let answer of currentAnswer;let $index = index" (click)="OnAnswerSelected($event, $index)" [ngClass]="{'correct': (trycount === 2 && $index+1 === correctOption), 'wrong': (trycount === 2 && $index === ansIndex)}">
            <!-- [ngClass]="(step=='step1')?'my-class1':'my-class2'" -->
        <div class="indicator"> <img class="indicator-img deselected" src="assets/images/md_5aaeb1de75bea.png" alt="" /></div>
        {{answer}} 
        <!-- {{(correctOption)}} -->
    </div>

</div>