.question-emoji {
    width: 50px;
    position: absolute;
    /* float: left; */
    left: -24px;
    /* border-radius: 50%; */
    margin-top: -12px;
    /* top: -14px; */
    display: inline-flex;
}