/* You can add global styles to this file, and also import other style files */

/* Header Section STARTS */
.header {
    padding-left: 8rem;
    background-color: #af1936;
    color: beige!important;
    position: absolute;
    width: 100%;
    border-bottom: 4px solid #FFC107;
    z-index: 1;
}

.page-header {
    margin: 0 !important
}

.exit-button,
.help-button {
    border-radius: 30px;
    /* background-color: #3498a7; */
    background-color: #333333b5;
    border: 2px solid #ffc107;
}

.button-container {
    float: right;
    margin-top: -33px;
    margin-right: 28px;
}

/* Header Section ENDS */



/* Main Content STARTS */

.content-wrapper {
    position: absolute;
    top: 6rem;
    /* background-color: rgba(41, 41, 40, 0.4196078431372549); */
    /* background-color: #fcf8e3; */
    background-image: url('assets/images/background-image-html.jpg');
    width: 100%;
    height: 80vh;
}

.instruction {
    margin-left: 10%;
    margin-top: 1.5rem;
    color: #f1e0ac;
    font-size: 2rem;
    text-align: left;
    font-weight: bold;
    text-shadow: 1px 1px #af1936;
}


/* Question Section STARTS */

.question-container {
    position: absolute;
    left: 10%;
    padding: 8px;
    font-size: 19px;
    top: 5rem;
    background-color: white;
    border: 4px solid #676565;
    width: 80%;
}

/* Question Section ENDS */

/* Answer Section STARTS */

.answer-container {
    position: relative;
    top: 10rem;
    float: right;
    display: inline-block;
    width: 38%;
    height: 45vh;
    margin-right: 10%;
    padding-top: 2rem;
}

.answer {
    background-color: white;
    padding: 10px;
    border: 2px solid #676565;
    border-radius: 30px;
    font-size: 17px;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.indicator,
.indicator-img {
    width: 50px;
    position: absolute;
    float: left;
    left: 0px;
    border-radius: 50%;
    margin-top: -7px;
    /* top: -14px; */
    display: inline-block;
}
.deselected {
    background-color: #cfd0d0;
}
.selected{
    background-color: #ffc107;
}

/* Answer Section ENDS */

/* Validation section STARTS */

.validation-container {
    position: absolute;
    bottom: 4rem;
    right: 0;
    display: inline-block;
    width: auto;
    height: 5vh;
    margin-right: 10%;
}

.validation-container>button {
    /* background-color: #3498a7; */
    background-color: #af1936;
    outline: none;
    border: none;
    color: #e7eef1;
    font-size: 1.7rem;
    width: 8rem;
    height: 3rem;
    border-radius: 19px;
    /* box-shadow: 3px 4px 6px 0px #185b65; */
    box-shadow: 3px 4px 6px 0px #29050c;
    margin-left: 1rem;
    cursor: pointer;
}

.validation-container>button:active {
    box-shadow: 1px 2px 5px 0px #a09d9d;
}

.validation-container>button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

/* Validation section ENDS */

/* Main Content ENDS */



/* Footer Section STARTS */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #af1936;
    height: 8rem;
    border-top: 4px solid #FFC107;
    z-index: 1;
}

.footer>div {
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    box-shadow: inset 0px 2px 1px 0px #611414;
    position: relative;
    top: 40%;
    left: 48%;
    margin: 0.25rem;
}

.active-screen {
    background-color: #ffc107;
}

/* Footer Section ENDS */